@* Views/Shared/_Layout.cshtml *@
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - CineStar</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" href="@Url.Content("~/Content/img/varios/favicon.ico")" type="image/x-icon" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">

            @* Logo + link a Home *@
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="@Url.Content("~/Content/img/varios/logo-cinestar.png")"
                     alt="CineStar" style="height:40px;">
            </a>

            <button type="button" class="navbar-toggler"
                    data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse"
                    title="Alternar navegación"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Index", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Cartelera", "verPeliculas", "Pelicula", null, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Cines", "verCines", "Cine", null, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home", null, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - CineStar</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
